

table{
    color: violet;
}
h3{
    color: gold;
    background: rgb(3, 3, 3);
}

.mark{
     color: gold;
    font-size: 40px;
            
        
}

.raju {
    color: rgb(31, 24, 37);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: darkcyan;
    font-size: 2rem;
}
.border{
    border: 3px dotted blue;
}



.rajy {
    color: rgb(32, 15, 8);
    font-size: 35px;
    color: darkred;

}
a[href="http://Nados.io"]{
  color: rgb(180, 12, 12);
}
#ty{
    font-family: cursive;
    font-size: large;
    color: darkred;

}
.cloneo{
    background-color: darkturquoise;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.clone{
    background-attachment: scroll;
    color: forestgreen;
}

.rty {
    color: rgb(0, 70, 70);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    border: 4px solid;
}

.gr {
    color: darkorange;
}

.imgop {
    width: 100%;
    height: auto;
    display: flex;
}
body{
    background-color:black;
    color: white;
    font-size: 50px;
}
h1{
    color: red;
    font-family: cursive;
    border: 4px solid yellow;


}

footer{
    background-color: whitesmoke;
    color: black;
    display:flex;
    justify-content: center;
    
}

